In [1]:
import nrel_api_interface
import bokeh
import pandas as pd
import numpy as np
import hdf5_interface
import h5py

In [8]:
solar_hdf5 = h5py.File("/Users/Jonorato/Desktop/solar_panel_data_alaska.h5", 'r')

In [9]:
solar_hdf5.keys()

<KeysViewHDF5 ['Ambler-Shungnak-Kobuk', 'Anchorage', 'Bethel', 'Chickaloon', 'Deering', 'Denali Park', 'Fairbanks', 'Fort Yukon', 'Galena-Koyukuk-Ruby', 'Homer', 'Naknek', 'Noatak', 'Noorvik', 'Soldotna', 'Valdez', 'Wasilla-Palmer']>

In [12]:
solar_hdf5['Anchorage'].keys()

ValueError: Not a location (invalid object ID)

In [11]:
solar_hdf5.close()

In [27]:
#hdf5_interface.update_existing_panel_entry("solar_panel_data_alaska", "/Users/Jonorato/Documents/DIRECT Classes/Alaska_Project/Solar Panel Data/data 2/Fairbanks/bonaire_fairbanks.csv", "Bonaire Fairbanks")

In [30]:
solar_hdf5['Fairbanks']["Bonaire Fairbanks"]['Energy'][:]

array([ 1.874,  0.164,  0.433, ..., 57.302, 71.538, 53.708])

In [33]:
solar_dataframe = hdf5_interface.hdf5_to_dataframe("solar_panel_data_alaska", "Fairbanks", "Bonaire Fairbanks")

C:\Users\Jonorato\documents\direct classes\Alaska_Project\ACEP_solar\hdf5_interface.py:184: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  dataframe['DC Capacity'][0] = panel_location.attrs.__getitem__('DC Capacity')
C:\Users\Jonorato\documents\direct classes\Alaska_Project\ACEP_solar\hdf5_interface.py:185: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  dataframe['Location'][0] = str(location_name)

In [34]:
solar_dataframe

      Day  Energy  Interpolate  Month  Year DC Capacity   Location
0       6   1.874            0   12.0  2014          12  Fairbanks
1       7   0.164            0   12.0  2014
2       8   0.433            0   12.0  2014
3       9   0.270            0   12.0  2014
4      10   0.138            0   12.0  2014
5      11   0.136            0   12.0  2014
6      12   0.051            0   12.0  2014
7      13   0.440            0   12.0  2014
8      14   1.374            0   12.0  2014
9      15   0.766            0   12.0  2014
10     16   0.388            0   12.0  2014
11     17   0.141            0   12.0  2014
12     18   0.088            0   12.0  2014
13     19   0.300            0   12.0  2014
14     20   0.917            0   12.0  2014
15     21   0.931            0   12.0  2014
16     22   0.416            0   12.0  2014
17     23   0.416            0   12.0  2014
18     24   0.238            0   12.0  2014
19     25   0.090            0   12.0  2014
20     26   0.000            0   12.0  2014
21     27   0.000            0   12.0  2014
22     28   0.000            0   12.0  2014
23     29   0.000            0   12.0  2014
24     30   0.000            0   12.0  2014
25     31   0.000            0   12.0  2014
26      1   0.000            0    1.0  2015
27      2   0.109            0    1.0  2015
28      3   0.159            0    1.0  2015
29      4   0.159            0    1.0  2015
...   ...     ...          ...    ...   ...         ...        ...
1599   23  16.283            0    4.0  2019
1600   24  70.459            0    4.0  2019
1601   25  78.954            0    4.0  2019
1602   26  83.214            0    4.0  2019
1603   27  81.755            0    4.0  2019
1604   28  81.456            0    4.0  2019
1605   29  81.071            0    4.0  2019
1606   30  78.231            0    4.0  2019
1607    1  78.322            0    5.0  2019
1608    2  40.302            0    5.0  2019
1609    3  50.973            0    5.0  2019
1610    4  56.054            0    5.0  2019
1611    5  72.309            0    5.0  2019
1612    6  44.292            0    5.0  2019
1613    7  56.575            0    5.0  2019
1614    8  16.766            0    5.0  2019
1615    9  75.785            0    5.0  2019
1616   10  35.488            0    5.0  2019
1617   11  57.315            0    5.0  2019
1618   12  70.557            0    5.0  2019
1619   13  51.215            0    5.0  2019
1620   14  43.830            0    5.0  2019
1621   15  74.469            0    5.0  2019
1622   16  78.107            0    5.0  2019
1623   17  77.253            0    5.0  2019
1624   18  46.087            0    5.0  2019
1625   19  73.906            0    5.0  2019
1626   20  57.302            0    5.0  2019
1627   21  71.538            0    5.0  2019
1628   22  53.708            0    5.0  2019

[1629 rows x 7 columns]

In [52]:
new_dataframe = pd.DataFrame(columns = ['Year', 'Month', 'Energy', 'Interpolate'])
previous_month_tracker = solar_dataframe['Month'][0]
Sum = 0
interpolated = 0
j = 0 
year_array = np.array(np.NaN)
month_array = np.array(np.NaN)
interpolation_array = np.array(np.NaN)
energy_array = np.array(np.NaN)
for i in range(len(solar_dataframe.index)):
    if solar_dataframe['Month'][i] == previous_month_tracker:
        Sum = Sum + solar_dataframe['Energy'][i]
        interpolated = interpolated + solar_dataframe['Interpolate'][i]
    else:
        year_array = np.append(year_array, solar_dataframe['Year'][i])
        month_array = np.append(month_array, solar_dataframe['Month'][i])
        if interpolated > 0:
            interpolation_array = np.append(interpolation_array, 1)
        else:
            interpolation_array = np.append(interpolation_array, 0)
        energy_array = np.append(energy_array, Sum)
        Sum = 0
        interpolated = 0
        j = j + 1
        previous_month_tracker = solar_dataframe['Month'][i]
energy_array
year_array

array([  nan, 2015., 2015., 2015., 2015., 2015., 2015., 2015., 2015.,
       2015., 2015., 2015., 2015., 2016., 2016., 2016., 2016., 2016.,
       2016., 2016., 2016., 2016., 2016., 2016., 2016., 2017., 2017.,
       2017., 2017., 2017., 2017., 2017., 2017., 2017., 2017., 2017.,
       2017., 2018., 2018., 2018., 2018., 2018., 2018., 2018., 2018.,
       2018., 2018., 2018., 2018., 2019., 2019., 2019., 2019., 2019.])

In [59]:
def daily_to_monthly_energy(file_name, location_name, panel_name):
    solar_dataframe = hdf5_interface.hdf5_to_dataframe(file_name, location_name, panel_name)
    new_dataframe = pd.DataFrame(columns = ['Year', 'Month', 'Energy', 'Interpolate', 'DC Capacity', 'Location'])
    previous_month_tracker = solar_dataframe['Month'][0]
    Sum = 0
    interpolated = 0
    j = 0 
    year_array = np.array(np.NaN)
    month_array = np.array(np.NaN)
    interpolation_array = np.array(np.NaN)
    energy_array = np.array(np.NaN)
    for i in range(len(solar_dataframe.index)):
        if solar_dataframe['Month'][i] == previous_month_tracker:
            Sum = Sum + solar_dataframe['Energy'][i]
            interpolated = interpolated + solar_dataframe['Interpolate'][i]
        else:
            year_array = np.append(year_array, solar_dataframe['Year'][i])
            month_array = np.append(month_array, solar_dataframe['Month'][i])
            if interpolated > 0:
                interpolation_array = np.append(interpolation_array, 1)
            else:
                interpolation_array = np.append(interpolation_array, 0)
            energy_array = np.append(energy_array, Sum)
            Sum = 0
            interpolated = 0
            j = j + 1
            previous_month_tracker = solar_dataframe['Month'][i]
    new_dataframe['Energy'] = energy_array
    new_dataframe['Month'] = month_array
    new_dataframe['Year'] = year_array
    new_dataframe['Interpolate'] = interpolation_array
    new_dataframe['DC Capacity'][1] = solar_dataframe['DC Capacity'][0]
    new_dataframe['Location'][1] = solar_dataframe['Location'][0]
    return new_dataframe

In [60]:
daily_to_monthly_energy("solar_panel_data_alaska", "Fairbanks", "Bonaire Fairbanks")

C:\Users\Jonorato\Miniconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Jonorato\Miniconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      Year  Month    Energy  Interpolate DC Capacity   Location
0      NaN    NaN       NaN          NaN         NaN        NaN
1   2015.0    1.0     9.571          0.0          12  Fairbanks
2   2015.0    2.0    99.979          0.0         NaN        NaN
3   2015.0    3.0   607.188          0.0         NaN        NaN
4   2015.0    4.0  1580.859          0.0         NaN        NaN
5   2015.0    5.0  1874.082          0.0         NaN        NaN
6   2015.0    6.0  2067.705          0.0         NaN        NaN
7   2015.0    7.0  1591.110          0.0         NaN        NaN
8   2015.0    8.0  1505.285          0.0         NaN        NaN
9   2015.0    9.0  1085.225          0.0         NaN        NaN
10  2015.0   10.0   897.253          0.0         NaN        NaN
11  2015.0   11.0   812.736          0.0         NaN        NaN
12  2015.0   12.0    47.853          0.0         NaN        NaN
13  2016.0    1.0    16.642          0.0         NaN        NaN
14  2016.0    2.0   106.363          0.0         NaN        NaN
15  2016.0    3.0   854.433          0.0         NaN        NaN
16  2016.0    4.0  1343.463          0.0         NaN        NaN
17  2016.0    5.0  1823.443          0.0         NaN        NaN
18  2016.0    6.0  1614.351          0.0         NaN        NaN
19  2016.0    7.0  1495.379          0.0         NaN        NaN
20  2016.0    8.0  1364.891          0.0         NaN        NaN
21  2016.0    9.0  1441.762          0.0         NaN        NaN
22  2016.0   10.0  1085.983          0.0         NaN        NaN
23  2016.0   11.0  1254.920          0.0         NaN        NaN
24  2016.0   12.0    70.857          0.0         NaN        NaN
25  2017.0    1.0     0.066          0.0         NaN        NaN
26  2017.0    2.0    23.075          0.0         NaN        NaN
27  2017.0    3.0   390.540          0.0         NaN        NaN
28  2017.0    4.0  1784.450          0.0         NaN        NaN
29  2017.0    5.0  2065.013          0.0         NaN        NaN
30  2017.0    6.0  1711.199          0.0         NaN        NaN
31  2017.0    7.0  1753.853          0.0         NaN        NaN
32  2017.0    8.0  1572.418          0.0         NaN        NaN
33  2017.0    9.0  1219.369          0.0         NaN        NaN
34  2017.0   10.0   985.999          0.0         NaN        NaN
35  2017.0   11.0   378.118          0.0         NaN        NaN
36  2017.0   12.0    49.051          0.0         NaN        NaN
37  2018.0    1.0     7.380          0.0         NaN        NaN
38  2018.0    2.0    17.505          0.0         NaN        NaN
39  2018.0    3.0   187.433          0.0         NaN        NaN
40  2018.0    4.0   768.675          0.0         NaN        NaN
41  2018.0    5.0  2086.459          0.0         NaN        NaN
42  2018.0    6.0  1668.776          0.0         NaN        NaN
43  2018.0    7.0  1488.682          0.0         NaN        NaN
44  2018.0    8.0  1658.085          0.0         NaN        NaN
45  2018.0    9.0   886.465          0.0         NaN        NaN
46  2018.0   10.0  1019.545          0.0         NaN        NaN
47  2018.0   11.0   726.006          0.0         NaN        NaN
48  2018.0   12.0   171.857          0.0         NaN        NaN
49  2019.0    1.0     1.890          0.0         NaN        NaN
50  2019.0    2.0    37.775          0.0         NaN        NaN
51  2019.0    3.0   465.173          0.0         NaN        NaN
52  2019.0    4.0  1070.665          0.0         NaN        NaN
53  2019.0    5.0  1672.214          0.0         NaN        NaN