# Generate HTML of  table for each location

This function is used for generate the supporting information of each location in HTML. That information includes location name, the number of installation, average DC capacity, normalized average annual production, TMY2 annual production and TMY3 annual production.

Import the function named supplyinfo in ARCTIC folder

In [7]:
from ARCTIC import supplyinfo
import pandas as pd

Import this function to show HTML in an easy way

In [2]:
from IPython.core.display import display, HTML

Run the function named table. You need to input the name of data file, the name of location, latitude and longitude. Please typein the file name without suffix name. The function usage is `table(file_name,location_name, latitude, longitude)`.

Take Anchorage for example. The file_name is `"solar_panel_data_alaska"`. Locarion_name is `"Anchorage"`. The coordiante is `61.193625,-149.694974`.So just type in `supplyinfo.table("solar_panel_data_alaska",'Anchorage',61.193625,-149.694974)`. Then you can save the html result in `t`.

In [3]:
t = supplyinfo.table("solar_panel_data_alaska",'Anchorage',61.193625,-149.694974)

In [4]:
t

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: center;">      <th>Parameter</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <td>Location</td>      <td>Anchorage</td>    </tr>    <tr>      <td>The Number of Installation</td>      <td>28</td>    </tr>    <tr>      <td>Average DC Capacity(kW)</td>      <td>6.29929</td>    </tr>    <tr>      <td>Normalized Average Annual Production(kWh)</td>      <td>664.294</td>    </tr>    <tr>      <td>TMY2 Annual Production(kWh)</td>      <td>923.263</td>    </tr>    <tr>      <td>TMY3 Annual Production(kWh)</td>      <td>947.962</td>    </tr>  </tbody></table>'

The html in `t` is what we need. You can use HTML() function to show it in a user-friendly way.

In [5]:
HTML(t)

Please be free to try other locations and coordinate below.

In [8]:
coordinate = pd.DataFrame(columns=['location','latitude','longitude'])
coordinate['location']=['Ambler-Shungnak-Kobuk','Anchorage','Bethel','Chickaloon',
                        'Deering','Denali Park','Fairbanks','Fort Yukon',
                        'Galena-Koyukuk-Ruby', 'Homer','Naknek','Noatak',
                        'Noorvik','Soldotna','Valdez','Wasilla-Palmer']

coordinate['latitude']=[66.995834, 61.193625, 60.794938, 61.823570, 
                        66.069413, 63.537277, 64.838033, 66.571563,
                        64.782991, 59.652521, 58.728349, 67.570921, 
                        66.836039, 60.486370, 61.128663, 61.582242]


coordinate['longitude']=[ -157.377096, -149.694974, -161.770716, -148.450442,
                         -162.766760,  -150.985453, -147.668970,  -145.250173,
                         -156.744933, -151.536496, -157.017444, -162.967490,
                          -161.041913, -151.060702, -146.353366, -149.441001]


coordinate

                 location   latitude   longitude
0   Ambler-Shungnak-Kobuk  66.995834 -157.377096
1               Anchorage  61.193625 -149.694974
2                  Bethel  60.794938 -161.770716
3              Chickaloon  61.823570 -148.450442
4                 Deering  66.069413 -162.766760
5             Denali Park  63.537277 -150.985453
6               Fairbanks  64.838033 -147.668970
7              Fort Yukon  66.571563 -145.250173
8     Galena-Koyukuk-Ruby  64.782991 -156.744933
9                   Homer  59.652521 -151.536496
10                 Naknek  58.728349 -157.017444
11                 Noatak  67.570921 -162.967490
12                Noorvik  66.836039 -161.041913
13               Soldotna  60.486370 -151.060702
14                 Valdez  61.128663 -146.353366
15         Wasilla-Palmer  61.582242 -149.441001